@use '../mixin/responsive' as *;
@use '../base/config' as *;
@use '../base/z_index.scss' as fn;


// burger-icon
.burger {
  background-color: $red;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: fn.z-index(burger);
  cursor: pointer;
  transition: opacity .3s;
  @include responsive (tb) {
    width: 75px;
    height: 75px;
  }
}
.burger:hover {
  opacity: 0.6;
}
.burger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger__icon {
  display: block;
  width: 50px;
  height: 2px;
  background-color: $white;
  @include responsive (tb) {
    width: 35px;
  }
}
.burger__icon:first-child {
  margin-bottom: 14px;
  @include responsive (tb) {
    margin-bottom: 11px;
  }
}
.burger__icon:last-child {
  margin-top: 14px;
  @include responsive (tb) {
    margin-top: 11px;
  }
}

// animation
.burger__inner,
.burger__icon {
  transition: all .4s ease;
}
.burger__inner.is-active {
  transform: translate(-50%, -50%) rotate(45deg);
  transition-duration: .4s;
}
.burger__icon.is-active:nth-of-type(1) {
  transform: translateY(15px) rotate(90deg);
  transition-duration: .4s;
}
.burger__icon:nth-of-type(2).is-active {
  width: 0;
  transition-duration: .4s;
}
.burger__icon:nth-of-type(3).is-active {
  transform: translateY(-18px);
  transition-duration: .4s;
}


// burger-menu
.burger__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $red;
  opacity: 0;
  pointer-events: none;
  z-index: fn.z-index(burger__menu);
  transition: opacity .3s;
}
.burger__menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.burger__menuList {
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 150px;
  text-align: center;
}
.burger__menuItem {
  margin-bottom: 20px;
}
.burger__menuItem:last-child {
  margin-bottom: 0;
}
.burger__itemLink {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: $white;
  @include responsive (tb) {
    font-size: 16px;
  }
}
.burger__itemLink:hover {
  border-bottom: 2px solid $white;
}

// burger-btn
.burger__btn {
  margin-top: 60px;
  text-align: center;
}
.burger__btnLink {
  width: 300px;
  height: 60px;
  border: 1px solid $white;
  display: inline-block;
  font-size: 16px;
  line-height: 60px;
  letter-spacing: 3px;
  color: $white;
  position: relative;
  transition: all .3s;
}
.burger__btnLink:hover {
  background-color: $white;
  border: 1px solid $red;
  color: $red;
}
.burger__btnLink::before {
  content: '';
  width: 300px;
  height: 1px;
  display: inline-block;
  background-color: $white;
  position: absolute;
  bottom: -6px;
  right: -6px;
}
.burger__btnLink::after {
  content: '';
  width: 1px;
  height: 60px;
  display: inline-block;
  background-color: $white;
  position: absolute;
  top: 4px;
  right: -6px;
}
