@use '../mixin/responsive' as *;
@use '../base/config' as *;


.mainvisual-btn {
  margin-top: 30px;
  width: 100%;
  height: 63px;
  background-color: $red;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px #7A051C;
  transition: transform  0.3s;
}
.mainvisual-btn:hover {
  transform: scale(1.05);
}
.mainvisual-btn__link {
  display: block;
  text-decoration: none;
  font-size: 24px;
  line-height: 63px;
  color: $white;
}
.mainvisual-btn__link::after {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  border-top: 3px solid $white;
  border-right: 3px solid $white;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%) rotate(45deg);
}