
@charset "utf-8";

@use  '../sass/base/reset';
@use  '../sass/mixin/responsive.scss' as *;
@use  '../sass/base/config' as *;
@use  '../sass/layout/header' as *;
@use   '../sass/components/burger';
@use  '../sass/layout/mainVisual';
@use  '../sass/components/mainvisual-btn';
@use '../sass/layout/reason';
@use '../sass/components/section-title';
@use '../sass/layout/container';
@use '../sass/layout/voice';
@use '../sass/layout/summary';
@use '../sass/layout/entry';
@use '../sass/components/entry-btn';
@use '../sass/layout/footer';
@use '../sass/base/z_index.scss' as *;




html {
  font-size: 0.75rem;
}
body {
  color: $font_color-bk;
  font-family: "Arial", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}


