@use '../mixin/responsive' as *;
@use '../base/config' as *;


.entry {
  margin-top: 115px;
}
.entry__text-wrapper {
  text-align: center;
}
.entry__title {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 3px;
}
.entry__subtitle {
  margin-top: 3px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 2px;
}



