@use '../mixin/responsive' as *;
@use '../base/config' as *;


.footer {
  margin-top: 100px;
  background-color: #e8e8e8;
}
.footer__list {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: space-between;
  @include responsive (tb) {
    flex-wrap: wrap;
    padding: 60px 16px 60px 16px;
  }
}
.footer__item {
  width: calc(100% / 4);
  @include responsive (tb) {
    width: 50%;
  }
}
.footer__item:nth-child(1),
.footer__item:nth-child(2) {
  @include responsive (tb) {
    margin-bottom: 30px;
  }
}
.footer__item-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: $font_color;
}
.footer__item-content {
  margin: 0 0 3px 10px;
}
.footer__item-content:last-child {
  margin-bottom: 0;
}
.footer__item-link {
  font-size: 14px;
  line-height: 1.2;
  color: $font_color;
  letter-spacing: 1.4px;
}
.footer__item-link:hover {
  opacity: 0.7;
}
.footer__copy-wrapper {
  text-align: center;
  padding-bottom: 20px;
}
.footer__copy {
  font-size: 10px;
}



