@use '../mixin/responsive' as *;
@use '../base/config' as *;


.voice {
  margin-top: 120px;
}
.voice__list {
  margin-top: 100px;
}
.voice__item {
  margin-top: 60px;
  display: flex;
  align-items: center;
  @include responsive (tb) {
    flex-direction: column-reverse;
  }
}
.voice__item:nth-of-type(even)  {
  flex-direction: row-reverse;
  @include responsive (tb) {
    flex-direction: column-reverse;
  }
}
.voice__item:first-child {
  margin-top: 0;
}
.voice__img-wrapper {
  @include responsive (tb) {
    margin-top: 30px;
  }
}
.voice__img-wrapper::before {
  content: '';
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
}
.voice__img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  position: relative;
}

.voice__img-text {
  font-size: 12px;
  line-height: 1.2;
  color: $font_color;
  text-align: center;
}
.voice__text {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  max-width: 516px;
  border-radius: 15px;
  background-color: #E9F1FB;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: $font_color;
  position: relative;
}
.voice__text::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #E9F1FB;
  border-left: 30px solid transparent;
  position: absolute;
}
.voice__item:nth-child(odd) .voice__text::before {
  bottom: 21px;
  left: -50px;
  @include responsive (tb) {
    bottom: -50px;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
  }
}
.voice__item:nth-child(even) .voice__text::before {
  bottom: 21px;
  right: -50px;
  transform: rotate(180deg);
  @include responsive (tb) {
    bottom: -50px;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
  }
}
.voice__item:nth-child(odd) .voice__text {
  margin-left: 25px;
}
.voice__item:nth-child(even) .voice__text {
  margin-right: 25px;
}
.voice__item:nth-child(odd) .voice__text,
.voice__item:nth-child(even) .voice__text {
  @include responsive (tb) {
    margin: 0;
  }
}

